@import "tailwindcss";

/* Minimalist setup for our Ge'ez app */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}