# ==================================================
# Python / Django
# ==================================================

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
venv/
.venv/
env/
backend/venv/

# Django
db.sqlite3
backend/db.sqlite3

# Logs
*.log

# Media & static
media/
backend/media/
staticfiles/
backend/staticfiles/
.env
backend/.env


# Environment variables
.env
.env.*

# ==================================================
# Node.js / Next.js
# ==================================================

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Package manager logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# ==================================================
# IDEs
# ==================================================

.vscode/
.idea/

# ==================================================
# Operating System
# ==================================================

.DS_Store
Thumbs.db